{% extends "base.html" %}
{% block header %} KORDLE {% endblock %}
{% block content %}
    <center>
    <br><br>        
    <p>My name is Kaixuan Khoo and I am a MSc Computing Science student at
        <br>Imperial College London. This website was inspired by the popular
        <br>word game Wordle that has taken the world by storm!
        <br>
        <br>This is the first web app I'm building and I'm taking this as an
        <br>opportunity to develop my web app skills!</p>
        </center>
    {% endblock %}