{% extends "base.html" %}
{% block header %} KORDLE {% endblock %}
{% block content %}
    <center>
    <br><br>        
    <p style="color:#c7c7c7"><span style="text-transform:uppercase">
        <grey>&nbsp{{g1[0]}}&nbsp</grey> <grey>&nbsp{{g1[1]}}&nbsp</grey> <grey>&nbsp{{g1[2]}}&nbsp</grey> <grey>&nbsp{{g1[3]}}&nbsp</grey> <grey>&nbsp{{g1[4]}}&nbsp</grey><br>
        <grey>&nbsp{{g2[0]}}&nbsp</grey> <grey>&nbsp{{g2[1]}}&nbsp</grey> <grey>&nbsp{{g2[2]}}&nbsp</grey> <grey>&nbsp{{g2[3]}}&nbsp</grey> <grey>&nbsp{{g2[4]}}&nbsp</grey><br>
        <grey>&nbsp{{g3[0]}}&nbsp</grey> <grey>&nbsp{{g3[1]}}&nbsp</grey> <grey>&nbsp{{g3[2]}}&nbsp</grey> <grey>&nbsp{{g3[3]}}&nbsp</grey> <grey>&nbsp{{g3[4]}}&nbsp</grey><br>
        <grey>&nbsp{{g4[0]}}&nbsp</grey> <grey>&nbsp{{g4[1]}}&nbsp</grey> <grey>&nbsp{{g4[2]}}&nbsp</grey> <grey>&nbsp{{g4[3]}}&nbsp</grey> <grey>&nbsp{{g4[4]}}&nbsp</grey><br>
        <grey>&nbsp{{g5[0]}}&nbsp</grey> <grey>&nbsp{{g5[1]}}&nbsp</grey> <grey>&nbsp{{g5[2]}}&nbsp</grey> <grey>&nbsp{{g5[3]}}&nbsp</grey> <grey>&nbsp{{g5[4]}}&nbsp</grey><br>
        <grey>&nbsp{{g6[0]}}&nbsp</grey> <grey>&nbsp{{g6[1]}}&nbsp</grey> <grey>&nbsp{{g6[2]}}&nbsp</grey> <grey>&nbsp{{g6[3]}}&nbsp</grey> <grey>&nbsp{{g6[4]}}&nbsp</grey><br>

        <p><input type="text" name="guess" align="middle"/></p>
        <p><input type="submit" value="Enter"></p>
    </span></p>
        </center>
    {% endblock %}